amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.3
attrs==19.3.0
billiard==3.3.0.23
black==19.10b0
celery==3.1.26.post2
Click==7.0
Django==2.2.7
django-service-objects==0.6.0
djangorestframework==3.11.2
entrypoints==0.3
flake8==3.7.9
isort==4.3.21
kombu==3.0.37
mccabe==0.6.1
pathspec==0.7.0
pkg-resources==0.0.0
pycodestyle==2.5.0
pyflakes==2.1.1
pytz==2019.3
regex==2020.1.8
six==1.14.0
sqlparse==0.3.0
toml==0.10.0
typed-ast==1.4.1
